body{
    background-color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --arriba: #0c181c
}



header a{
    color:white;
    
}
body div{
    line-height: 1;
    margin:30px;
}
.btn{
    color: #fff;
  background: #000;
  padding: 10px 20px;
  text-decoration: none;
}
.btn:hover{
    background-color: grey;
    cursor: pointer;
    transition: background .5s;
}